.heading {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 1px 1px #000000;
    margin-bottom: 24px;
}

.packs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

/* Portrait tablets and medium desktops */
@media (min-width: 768px) and (max-width: 1199px) {
    .packs {
        grid-template-columns: repeat(4, 1fr);
        justify-items: center;
        gap: 2em;
    }

    .pack {
        grid-column: span 2;
    }

    .pack:nth-child(3) {
        grid-column: 2 / span 2;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .packs {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 2em;
    }
}