@font-face {
    font-family: "Exo2.0";
    src: local("Exo2.0-Thin"),
    url("assets/fonts/Exo2.0/Exo2.0-Thin.otf") format("opentype");
    font-weight: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

body {
  scroll-behavior: smooth;
  font-family: "Exo2.0";
  text-rendering: optimizeSpeed;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* Пользовательские стили */
.container {
    max-width: 1160px;
    padding: 0px 20px;
    margin: 0 auto;
    width: 100%;
}

.main {
    background-image: url("./assets/img/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    gap: 80px;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

@media (max-width: 1199px) {
    .main {
        display: block;
        padding: 36px 0px;
        height: 100%;
    }
}